T212_API_KEY=your_t212_key
T212_BASE_URL=https://demo.trading212.com/api/v0

CAPITAL_API_KEY=your_capital_key
CAPITAL_LOGIN=your_email
CAPITAL_PASSWORD=your_password
CAPITAL_BASE_URL=https://demo-api-capital.backend-capital.com
